Repository vaadin/flow-components, pull requests merged in 2020-11, with the labels that each got.

#370 ci: Allow exclude certain npm package update [skip ci]
  scripts/updateNpmVer.js
Labels: cherry-picked, monorepo

#363 test: add ITs to verify reattach - refresh page should keep expansion
  vaadin-grid-flow-parent/vaadin-grid-flow-integration-tests/src/main/java/com/vaadin/flow/component/treegrid/it/TreeGridDetachAttachPage.java
  vaadin-grid-flow-parent/vaadin-grid-flow-integration-tests/src/test/java/com/vaadin/flow/component/treegrid/it/TreeGridDetachAttachIT.java
Labels: vaadin-grid

#383 fix: update combo-box integration tests (#365)
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-integration-tests/src/test/java/com/vaadin/flow/component/combobox/test/LazyLoadingIT.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/main/java/com/vaadin/flow/component/combobox/GeneratedVaadinComboBox.java
Labels: cherry-picked

#384 fix: update combo-box integration tests (#365)
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-integration-tests/src/test/java/com/vaadin/flow/component/combobox/test/LazyLoadingIT.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/main/java/com/vaadin/flow/component/combobox/GeneratedVaadinComboBox.java
Labels: cherry-picked

#321 fix: Adding missing "not null" in select and deselect JavaDoc
  vaadin-grid-flow-parent/vaadin-grid-flow/src/main/java/com/vaadin/flow/component/grid/Grid.java
Labels: documentation, vaadin-grid

#386 docs: add demo for custom type filter converter and enhance javadocs
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-demo/src/main/java/com/vaadin/flow/component/combobox/demo/ComboBoxView.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-demo/src/main/java/com/vaadin/flow/component/combobox/demo/service/PersonService.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/main/java/com/vaadin/flow/component/combobox/ComboBox.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/main/java/com/vaadin/flow/component/combobox/dataview/ComboBoxListDataView.java
Labels: documentation, vaadin-combo-box

#394 chore: Update profile name for resource packaging
  scripts/templates/pom-demo.xml
  vaadin-accordion-flow-parent/vaadin-accordion-flow-demo/pom.xml
  vaadin-app-layout-flow-parent/vaadin-app-layout-flow-demo/pom.xml
  vaadin-avatar-flow-parent/vaadin-avatar-flow-demo/pom.xml
  vaadin-board-flow-parent/vaadin-board-flow-demo/pom.xml
  vaadin-button-flow-parent/vaadin-button-flow-demo/pom.xml
  vaadin-charts-flow-parent/vaadin-charts-flow-demo/pom.xml
  vaadin-checkbox-flow-parent/vaadin-checkbox-flow-demo/pom.xml
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-demo/pom.xml
  vaadin-confirm-dialog-flow-parent/vaadin-confirm-dialog-flow-demo/pom.xml
  vaadin-context-menu-flow-parent/vaadin-context-menu-flow-demo/pom.xml
  vaadin-cookie-consent-flow-parent/vaadin-cookie-consent-flow-demo/pom.xml
  vaadin-crud-flow-parent/vaadin-crud-flow-demo/pom.xml
  vaadin-custom-field-flow-parent/vaadin-custom-field-flow-demo/pom.xml
  vaadin-date-picker-flow-parent/vaadin-date-picker-flow-demo/pom.xml
  vaadin-date-time-picker-flow-parent/vaadin-date-time-picker-flow-demo/pom.xml
  vaadin-details-flow-parent/vaadin-details-flow-demo/pom.xml
  vaadin-dialog-flow-parent/vaadin-dialog-flow-demo/pom.xml
  vaadin-form-layout-flow-parent/vaadin-form-layout-flow-demo/pom.xml
  vaadin-grid-flow-parent/vaadin-grid-flow-demo/pom.xml
  vaadin-grid-pro-flow-parent/vaadin-grid-pro-flow-demo/pom.xml
  vaadin-icons-flow-parent/vaadin-icons-flow-demo/pom.xml
  vaadin-iron-list-flow-parent/vaadin-iron-list-flow-demo/pom.xml
  vaadin-list-box-flow-parent/vaadin-list-box-flow-demo/pom.xml
  vaadin-login-flow-parent/vaadin-login-flow-demo/pom.xml
  vaadin-menu-bar-flow-parent/vaadin-menu-bar-flow-demo/pom.xml
  vaadin-notification-flow-parent/vaadin-notification-flow-demo/pom.xml
  vaadin-ordered-layout-flow-parent/vaadin-ordered-layout-flow-demo/pom.xml
  vaadin-progress-bar-flow-parent/vaadin-progress-bar-flow-demo/pom.xml
  vaadin-radio-button-flow-parent/vaadin-radio-button-flow-demo/pom.xml
  vaadin-rich-text-editor-flow-parent/vaadin-rich-text-editor-flow-demo/pom.xml
  vaadin-select-flow-parent/vaadin-select-flow-demo/pom.xml
  vaadin-split-layout-flow-parent/vaadin-split-layout-flow-demo/pom.xml
  vaadin-tabs-flow-parent/vaadin-tabs-flow-demo/pom.xml
  vaadin-text-field-flow-parent/vaadin-text-field-flow-demo/pom.xml
  vaadin-time-picker-flow-parent/vaadin-time-picker-flow-demo/pom.xml
  vaadin-upload-flow-parent/vaadin-upload-flow-demo/pom.xml
Labels: monorepo

#395 Chore: Update the generated charts/demo pom
  scripts/updateJavaPOMs.js
  vaadin-charts-flow-parent/vaadin-charts-flow-demo/pom.xml
Labels: vaadin-charts

#366 fix: Store in-memory filtering and sorting in component
  vaadin-checkbox-flow-parent/vaadin-checkbox-flow-integration-tests/src/main/java/com/vaadin/flow/component/checkbox/tests/CheckboxGroupListDataViewPage.java
  vaadin-checkbox-flow-parent/vaadin-checkbox-flow-integration-tests/src/test/java/com/vaadin/flow/component/checkbox/tests/CheckboxGroupListDataViewIT.java
  vaadin-checkbox-flow-parent/vaadin-checkbox-flow/src/main/java/com/vaadin/flow/component/checkbox/CheckboxGroup.java
  vaadin-checkbox-flow-parent/vaadin-checkbox-flow/src/main/java/com/vaadin/flow/component/checkbox/dataview/CheckboxGroupListDataView.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-integration-tests/src/main/java/com/vaadin/flow/component/combobox/test/ComboBoxListDataViewPage.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-integration-tests/src/test/java/com/vaadin/flow/component/combobox/test/ComboBoxListDataViewIT.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/main/java/com/vaadin/flow/component/combobox/ComboBox.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/main/java/com/vaadin/flow/component/combobox/dataview/ComboBoxListDataView.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/test/java/com/vaadin/flow/component/combobox/dataview/ComboBoxDataViewTest.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/test/java/com/vaadin/flow/component/combobox/dataview/ComboBoxDataViewTestHelper.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/test/java/com/vaadin/flow/component/combobox/dataview/ComboBoxListDataViewTest.java
  vaadin-grid-flow-parent/vaadin-grid-flow-integration-tests/src/main/java/com/vaadin/flow/component/grid/it/GridListDataViewPage.java
  vaadin-grid-flow-parent/vaadin-grid-flow-integration-tests/src/test/java/com/vaadin/flow/component/grid/it/GridListDataViewIT.java
  vaadin-grid-flow-parent/vaadin-grid-flow/src/main/java/com/vaadin/flow/component/grid/Grid.java
  vaadin-grid-flow-parent/vaadin-grid-flow/src/main/java/com/vaadin/flow/component/grid/dataview/GridListDataView.java
  vaadin-list-box-flow-parent/vaadin-list-box-flow-integration-tests/src/main/java/com/vaadin/flow/component/listbox/test/ListBoxDataViewPage.java
  vaadin-list-box-flow-parent/vaadin-list-box-flow-integration-tests/src/test/java/com/vaadin/flow/component/listbox/test/ListBoxDataViewIT.java
  vaadin-list-box-flow-parent/vaadin-list-box-flow/src/main/java/com/vaadin/flow/component/listbox/ListBoxBase.java
  vaadin-list-box-flow-parent/vaadin-list-box-flow/src/main/java/com/vaadin/flow/component/listbox/dataview/ListBoxListDataView.java
  vaadin-radio-button-flow-parent/vaadin-radio-button-flow-integration-tests/src/main/java/com/vaadin/flow/component/radiobutton/tests/RadioButtonGroupDataViewPage.java
  vaadin-radio-button-flow-parent/vaadin-radio-button-flow-integration-tests/src/test/java/com/vaadin/flow/component/radiobutton/tests/RadioButtonGroupDataViewPageIT.java
  vaadin-radio-button-flow-parent/vaadin-radio-button-flow/src/main/java/com/vaadin/flow/component/radiobutton/RadioButtonGroup.java
  vaadin-radio-button-flow-parent/vaadin-radio-button-flow/src/main/java/com/vaadin/flow/component/radiobutton/dataview/RadioButtonGroupListDataView.java
  vaadin-select-flow-parent/vaadin-select-flow-integration-tests/src/main/java/com/vaadin/flow/component/select/examples/SelectListDataViewPage.java
  vaadin-select-flow-parent/vaadin-select-flow-integration-tests/src/test/java/com/vaadin/flow/component/select/test/SelectListDataViewIT.java
  vaadin-select-flow-parent/vaadin-select-flow/src/main/java/com/vaadin/flow/component/select/Select.java
  vaadin-select-flow-parent/vaadin-select-flow/src/main/java/com/vaadin/flow/component/select/data/SelectListDataView.java
Labels: vaadin-checkbox, vaadin-combo-box, vaadin-grid, vaadin-list-box, vaadin-radio-button, vaadin-select

#393 fix: clear ComboBox filter on drop down close
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-integration-tests/src/main/java/com/vaadin/flow/component/combobox/test/ComboBoxLazyDataViewPage.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-integration-tests/src/main/java/com/vaadin/flow/component/combobox/test/ComboBoxListDataViewPage.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-integration-tests/src/main/java/com/vaadin/flow/component/combobox/test/FilteringPage.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-integration-tests/src/test/java/com/vaadin/flow/component/combobox/test/ComboBoxLazyDataViewIT.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-integration-tests/src/test/java/com/vaadin/flow/component/combobox/test/ComboBoxListDataViewIT.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow-integration-tests/src/test/java/com/vaadin/flow/component/combobox/test/FilteringIT.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/main/java/com/vaadin/flow/component/combobox/ComboBox.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/test/java/com/vaadin/flow/component/combobox/dataview/ComboBoxLazyDataViewTest.java
  vaadin-combo-box-flow-parent/vaadin-combo-box-flow/src/test/java/com/vaadin/flow/component/combobox/dataview/ComboBoxListDataViewTest.java
Labels: vaadin-combo-box

#433 fix: not to call count callback for lazy Grid with multi-select
  vaadin-grid-flow-parent/vaadin-grid-flow-integration-tests/src/main/java/com/vaadin/flow/component/grid/it/GridMultiSelectionColumnPage.java
  vaadin-grid-flow-parent/vaadin-grid-flow-integration-tests/src/test/java/com/vaadin/flow/component/grid/it/GridMultiSelectionColumnPageIT.java
  vaadin-grid-flow-parent/vaadin-grid-flow/src/main/java/com/vaadin/flow/component/grid/AbstractGridMultiSelectionModel.java
  vaadin-grid-flow-parent/vaadin-grid-flow/src/main/java/com/vaadin/flow/component/grid/GridMultiSelectionModel.java
  vaadin-grid-flow-parent/vaadin-grid-flow/src/test/java/com/vaadin/flow/component/grid/AbstractGridMultiSelectionModelTest.java
Labels: target/17.0, target/18.0, vaadin-grid
