Repository vaadin/flow-components, pull requests merged in 2021-01, with the labels that each got.

#189 fix: replace select(null) with deselectAll()
  vaadin-crud-flow-parent/vaadin-crud-flow/src/main/java/com/vaadin/flow/component/crud/Crud.java
Labels: vaadin-crud

#567 fix: replace select(null) with deselectAll() (#189)
  vaadin-crud-flow-parent/vaadin-crud-flow/src/main/java/com/vaadin/flow/component/crud/Crud.java
Labels: cherry-pick, target/14.4, vaadin-crud

#568 fix: replace select(null) with deselectAll() (#189)
  vaadin-crud-flow-parent/vaadin-crud-flow/src/main/java/com/vaadin/flow/component/crud/Crud.java
Labels: cherry-pick, target/14.5, vaadin-crud

#566 fix: replace select(null) with deselectAll() (#189)
  vaadin-crud-flow-parent/vaadin-crud-flow/src/main/java/com/vaadin/flow/component/crud/Crud.java
Labels: cherry-pick, target/18.0, vaadin-crud

#570 test: Verify no errors after Grid detach and clear items
  vaadin-grid-flow-parent/vaadin-grid-flow-integration-tests/src/main/java/com/vaadin/flow/component/grid/it/GridClearAfterDetachAndReattachPage.java
  vaadin-grid-flow-parent/vaadin-grid-flow-integration-tests/src/test/java/com/vaadin/flow/component/grid/it/GridClearAfterDetachAndReattachIT.java
Labels: target/14.4, target/14.5, target/18.0, vaadin-grid
